* {
    padding: 0;
    margin: 0;
    font-family: Montserrat, serif;
    /*max-width: 100vw;*/
}

header {
    height: 60px;
    display: flex;
    padding: 20px 10%;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    padding-right: 2em;
}

.onescreen {
    background: #F06C46;
    color: white;
    padding-left: max(20px, 18%);
    padding-right: max(20px, 18%);
    font-weight: bold;
    padding-top: 4rem;
}

.heading {
    font-size: 4em;
}

.headingMin {
    padding-top: 1em;
    font-size: 2em;
}

.functionCours {
    padding-top: 5em;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

.one {
    display: inline-block;
    vertical-align: top;
}

.imgone {
    display: inline-block;
    vertical-align: top;
    padding-left: 1rem;
}

.two {
    padding-left: min(0.1rem, 0rem);
    padding-right: 17rem;
}

.imgtwo {
    display: inline-block;
    vertical-align: top;
    padding-left: 1rem;
}

.imgtree {
    display: inline-block;
    vertical-align: top;
    padding-left: 1rem;
}

.startCours {
    font-size: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.toBookButton {
    background-color: #FEB447;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 1%;
    border-radius: 50px;
    min-width: 184px;
}

.headingtwo {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 6rem;
    padding-left: max(20px, 18%);
    padding-right: max(20px, 18%);
}

.requiredSkills {
    display: grid;
    grid-template-columns: 35% 35% 35%;
    padding-left: max(20px, 18%);
    padding-right: max(20px, 18%);
}

.cards {
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 4rem;

}

.requiredSkills p {
    padding-top: 1rem;
}

.jobOpenings {
    margin: 0 30px 0 30px;
}

.headingJob {
    color: #C81F56;
    font-size: 6rem;
    opacity: 0.1;
    mix-blend-mode: darken;
    font-weight: 900;
}

.HHcards {
    display: flex;
    justify-content: space-between;
}

.hh {
    width: 280px;
    height: 290px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.10);
    position: relative;
}

.HHeadHunter {
    padding: 20px 1px 0 20px;
    flex-shrink: 0;
}

.HHnameJob {
    padding: 20px 20px 0 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.HHmoney {
    padding: 20px 20px 0 20px;
    color: #C81F56;
    font-weight: 1500;
    font-size: 20px;
    font-style: normal;
    position: absolute;
    bottom: 90px;
}

.HHLogo {
    padding: 20px 0 0 20px;
    width: 79px;
    height: 40px;
    flex-shrink: 0;
    text-align: end;
    align-items: end;
    position: absolute;
    bottom: 0;
}

.points {
    margin: 40px 0 0 0;
    text-align: center;
}

.treescreen {
    padding-left: max(20px, 18%);
    padding-right: max(20px, 18%);
}

.headingTreeScreen {
    color: black;
    width: 70%;
    height: 100%;
    flex-shrink: 0;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 146%;
    letter-spacing: -0.34px;
}

.textTreeScreen {
    margin-top: 2%;
    width: 45%;
    height: 100%;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.15px;
}

.textTreeScreen img {
    vertical-align: middle;
}

.treeScreenImg {
    display: flex;
    margin-top: 4%;
}

.imgCopybook img {
    height: 322px;
}

.copybook {
    margin: 10px 250px 0 0;
}

.copybook p,
.oldDisplay p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.fourScreen {
    background-color: #FE840E;
}

.headingFourScreen {
    margin: 10% 0 0 0;
    padding-top: 5%;
    color: #FFFFFF;
    width: 40%;
    font-size: 200%;
    font-weight: 700;
    line-height: 180%;
    padding-left: max(20px, 18%);
    padding-right: max(20px, 18%);
}

.boxImg {
    display: flex;
    margin-top: 5%;
    padding-left: max(20px, 5%);
    padding-right: max(20px, 5%);
}

.plusBox {
    color: #FFFFFF;
    margin-left: 60%;
    width: 40%;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.plusBoxOne,
.plusBoxTwo,
.plusBoxTree {
    display: flex;
}

.plusBoxOneImg,
.plusBoxTwoImg,
.plusBoxTreeImg {
    margin-right: 5%;
}

.fiveScreen {
    background: linear-gradient(350deg, #C81F56 -17.44%, rgba(200, 31, 86, 0.00) 63.54%), #FE840E;
    padding-bottom: 6%;
}

.data {
    color: #FEB447;
    font-size: 200px;
    font-weight: 900;
    letter-spacing: -4px;
}

.headingFiveScreen {
    color: #FFFFFF;
    font-size: 34px;
    font-weight: 700;
    line-height: 146%;
    width: 35%;
    margin-left: max(20px, 15%);
    margin-right: max(20px, 15%);
}

.tabsImg {
    margin: 0;
    padding: 0;
    width: 100%;
}

.tabsColumns {
    color: #FFFFFF;
    margin-left: max(20px, 15%);
    margin-right: max(20px, 1%);
    display: grid;
    grid-template-columns: 25% 25% 25%;
}

.tabsTextHeading {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 146%;
    letter-spacing: -0.24px;
    margin-bottom: 5%;
}

.tabsText {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.tabsTextColumns {
    margin-left: 15%;
    margin-right: 15%;
}

.science {
    color: #F06C46;
    text-align: right;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: 146%;
    letter-spacing: -4px;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: max(20px, 1%);
}

.certificate {
    margin-left: max(20px, 15%);
    margin-right: max(20px, 15%);
    display: flex;
}

.certificateText {
    margin-left: max(20px, 5%);
    margin-right: max(20px, 5%);
}

.certificateHeading {
    color: #FFF;
    font-size: 34px;
    font-weight: 700;
    line-height: 146.28%;
    letter-spacing: -0.34px;
}

.certificateTextText {
    color: #FFF;
    width: 90%;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.certificateButton {
    background-image: url("img/button2.png");
    margin-top: 7%;
    background-size: cover;
    width: 184px;
    height: 43px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    line-height: 43px;
}

.sixScreen {
    margin-top: 5%;
}

.vsHeading {
    margin-left: max(20px, 25%);
    margin-right: max(20px, 25%);
    display: grid;
    grid-template-columns: 45% 15% 40%;
}

#vsNorm {
    color: #8D8D8D;
    font-size: 44px;
    font-weight: 800;
    line-height: 134%;
    letter-spacing: -0.44px;
}

#vsVs {
    color: #C81F56;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 134%;
    letter-spacing: -0.44px;
}

#vsOur {
    color: #FE840E;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 134%;
    letter-spacing: -0.44px;
}

.vscomparison {
    margin-left: max(20px, 25%);
    margin-right: max(20px, 25%);
    display: grid;
    grid-template-columns: 60% 50%;
}

.vsNegative {
    display: flex;
    margin: 15% 0 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.16px;
}

.vsPositive {
    margin: 15% 0 0 0;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.vsSmileN {
    margin: 0 10% 0 0;
    filter: grayscale(100%);
    width: 45px;
    height: 45px;
}

.vsSmileP {
    margin: 0 10% 0 0;
    width: 54px;
    height: 54px;
}

.vsTextN {
    width: 50%;
}

.vsPrice {
    margin-left: max(20px, 25%);
    margin-right: max(20px, 25%);
    margin-top: 5%;
    display: grid;
    grid-template-columns: 60% 60%;
}

.priceGrayText {
    margin-top: 13%;
    color: #C4C4C4;
    font-size: 18px;
    font-weight: 600;
}

.priceGrayNum {
    color: #C4C4C4;
    font-size: 59px;
    font-weight: 400;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.priceOrangeText {
    color: #FE840E;
    font-size: 34px;
    font-weight: 700;
    line-height: 146%;
    letter-spacing: -0.34px;
    text-transform: uppercase;
}

.priceOrangeNum {
    color: #FE840E;
    font-size: 96px;
    font-weight: 900;
    line-height: 146%;
    letter-spacing: -2px;
}

.shape {
    margin-left: max(20px, 15%);
    margin-right: max(20px, 15%);
    width: 75em;
    height: 18em;
    padding-top: 3%;
    padding-left: 4%;
    justify-content: center;
    background: #F06C46;
    margin-top: 10%;
    border-radius: 50px;
}

.shapeHeading {
    color: #FFFFFF;
    width: 997px;
    height: 67px;
    flex-shrink: 0;
    font-size: 54px;
    font-weight: 800;
    line-height: 134%;
    letter-spacing: -0.54px;
}

.shapeText {
    color: #FFFFFF;
    padding-top: 5%;
    width: 917px;
    height: 35px;
    flex-shrink: 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 146%;
    letter-spacing: -0.34px;
}

.inputBut {
    display: flex;
    padding-top: 4%;
}

.shapeTel {
    padding-left: 3%;
    padding-right: 3%;
}

.shapeName input {
    width: 494px;
    height: 43px;
    border-radius: 20px;
    border: 0;
    padding-left: 4%;
}

.shapeTel input {
    width: 290px;
    height: 43px;
    border-radius: 20px;
    border: 0;
    padding-left: 4%;
}

.shapeButBut {
    width: 130%;
    height: 43px;
    border: 0;
    border-radius: 20px;
    background-color: #FEB447;
}

.friends {
    margin-top: 7%;
    margin-left: max(20px, 15%);
    margin-right: max(20px, 15%);
    display: flex;
}

.friendsOne,
.friendsTwo{
    display: flex;
}

.friendsTextTen {
    font-size: 120px;
    font-weight: 900;
    line-height: 146%;
    letter-spacing: -6px;
    background: linear-gradient(180deg, #F5FA72 32.47%, #FE840E 150.65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.friendsTextFive {
    font-size: 120px;
    font-weight: 900;
    line-height: 146%;
    letter-spacing: -6px;
    background: linear-gradient(180deg, #FE840E 22.46%, #C81F56 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.friendsTextText {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 134%;
    letter-spacing: -0.24px;
}

.friendsButOne button,
.friendsButTwo button {
    background-color: #FEB447;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    border: 0;
    border-radius: 20px;
    width: 216px;
    height: 43px;
}